{% extends "base.html" %}

{% block title %}42 Coffee Cups Test Assignment{% endblock %}

{% block content %}
{% for cont in data %}
    <h2>42 Coffee Cups Test Assignment</h2>
    <div class="col">
      <p><div class="row">Name </div>{{cont.name}}</p>
      <p><div class="row">Last name </div>{{cont.last_name}}</p>
      <p><div class="row">Date of birth </div>{{cont.date_of_birth}}</p>
      <p><div class="row-2">Bio:</div>{{cont.bio}}</p>
    </div>
    <div class="col">
      <p><div class="row">Contacts</div></p>
      <p><div class="row">Email: {{cont.email}}</div></p>
      <p><div class="row">Jabber: {{cont.jabber}}</div></p>
      <p><div class="row">Skype: {{cont.skype}}</div></p>
      <p><div class="row-2">Other contacts</div>{{cont.other_contacts}}</p>
    </div>
{% endfor %}
{% endblock %}
