{% extends "base.html" %}

{% block title %}42 Coffee Cups Test Assignment{% endblock %}

{% block content %}
  <h2>42 Coffee Cups Test Assignment</h2>
  <div class="col">
    <p><div class="row">Name </div>Artem</p>
    <p><div class="row">Last name </div>Khymenko</p>
    <p><div class="row">Date of birth </div>7.11.1989</p>
    <p><div class="row-2">Bio:</div>I'm a self-taught Python developer with focused on Django web development.</p>
  </div>
  <div class="col">
    <p><div class="row">Contacts</div></p>
    <p><div class="row">Email: artem.khymenko@gmail.com</div></p>
    <p><div class="row">Jabber: artemkhymenko</div></p>
    <p><div class="row">Skype: breakerhim</div></p>
    <p><div class="row-2">Other contacts</div>49106 Dnipro</p>
  </div>
{% endblock %}
